@{
    ViewData["Title"] = "All Books";
}

<h1 class="display-4">All Books</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="align-middle">The Tao of Pooh</td>
            <td class="align-middle">Benjamin Hoff</td>
            <td class="align-middle">Taoism, Philosophy</td>
            <td class="d-flex align-items-center gap-2">
                <a class="btn btn-sm btn-primary" href="">View</a>
                <a class="btn btn-sm btn-warning" href="">Edit</a>
                <a class="btn btn-sm btn-danger" href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td class="align-middle">The Catcher in the Rye</td>
            <td class="align-middle">J. D. Salinger</td>
            <td class="align-middle">Realistic fiction, Coming-of-age fiction</td>
            <td class="d-flex align-items-center gap-2">
                <a class="btn btn-sm btn-primary" href="">View</a>
                <a class="btn btn-sm btn-warning" href="">Edit</a>
                <a class="btn btn-sm btn-danger" href="">Delete</a>
            </td>
        </tr>
        <tr>
            <td class="align-middle">The Color Purple</td>
            <td class="align-middle">Alice Walker</td>
            <td class="align-middle">Epistolary novel</td>
            <td class="d-flex align-items-center gap-2">
                <a class="btn btn-sm btn-primary" href="">View</a>
                <a class="btn btn-sm btn-warning" href="">Edit</a>
                <a class="btn btn-sm btn-danger" href="">Delete</a>
            </td>
        </tr>
    </tbody>
</table>