@* Views/Error/PageNotFound.cshtml *@

@{
    ViewData["Title"] = "Forbidden";
}

<h1 class="display-4">Oops!</h1>
<p class="lead">You do not have the appropriate permissions.</p>
<a href="/" class="btn btn-primary">Back to Home</a>