@* Views/Error/PageNotFound.cshtml *@

@{
    ViewData["Title"] = "Page Not Found";
}

<h1 class="display-4">Oops!</h1>
<p class="lead">The page you're looking for doesn't exist.</p>
<a href="/" class="btn btn-primary">Back to Home</a>