@* Views/Error/PageNotFound.cshtml *@

@{
    ViewData["Title"] = "Unauthorized";
}

<h1 class="display-4">Oops!</h1>
<p class="lead">You must be logged in to do that.</p>
<a href="/" class="btn btn-primary">Back to Home</a>