@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: oklch(12.9% 0.042 264.695);
  color: oklch(98.4% 0.003 247.858);
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

header {
  background-color: rgb(31, 0, 133);
}

img {
  max-width: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gap {
  gap: 1.25rem;
}

header {
  padding: 1rem 0;
  margin-bottom: 1.25rem;
}

header h1 {
  margin: 0;
}

main,
aside {
  border: 2px solid whitesmoke;
  padding: 1.25rem;
}

main {
  flex: 2;
}

aside {
  flex: 1;
  align-self: flex-start;
}

.underline {
  text-decoration: underline;
}
