@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #e2ece9;
  min-height: 100vh;
}

label {
  display: block;
}

img {
  max-width: 100%;
}

/* utility classes */

h1,
h2,
h3,
label {
  font-family: 'Merriweather', serif;
}

.padding-md {
  padding: 1rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  display: flex;
}

.form-container > * {
  flex-grow: 1;
}

.flex-grow {
  flex: 1;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.gap {
  gap: 1.25rem;
}

/* header styles */
header {
  border-bottom: 1px solid #b8bcba;
}

/* aside styles */
aside {
  align-self: stretch;
  flex: 1;
  border-left: 1px solid #b8bcba;
  border-right: 1px solid #b8bcba;
}

.aside-box {
  border-bottom: 1px solid #b8bcba;
}

main {
  align-self: flex-start;
  flex: 3;
}

/* card styles */
.card {
  border: 1px solid #b8bcba;
  background-color: whitesmoke;
  margin-bottom: 1rem;
}

.card-body {
  padding: 1rem;
}

/* button styles */
.ghost-btn {
  background-color: transparent;
  border: 0;
}

.btn {
  background-color: #fad2e1;
  border: 1px solid #b8bcba;
  padding: 0.5rem 1rem;
}

/* cookie styles */
.cookie {
  background-color: #dfe7fd;
  position: fixed;
  bottom: 1.25rem;
  left: 2.5rem;
  width: 1000px;
  border: 1px solid #b8bcba;
  padding: 1.25rem;
}

.text-end {
  text-align: right;
}
