@{
    ViewData["Title"] = "Page Not Found";
}

<h1 class="display-4">Page Not Found 404</h1>
<p>We're sorry, we couldn't find that resource. Please check the URL and try again.</p>
<a href="/" class="btn btn-primary">Return Home</a>