@{
    ViewData["Title"] = "Home";
}

<h1 class="display-4">Welcome</h1>
<p class="lead">A small .NET MVC application to demonstrate image upload and retrieval to and from <a
        href="https://imagekit.io/" target="_blank">ImageKit.io.</a></p>
<a href="/account/register" class="btn btn-lg btn-outline-primary me-2">Register</a>
<a href="/account/login" class="btn btn-lg btn-primary">Log in</a>