@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #222;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5rem;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.flex-container {
  border: 2px solid aqua;
  background-color: lightblue;
  min-height: 8rem;
  margin-bottom: 1.25rem;
  gap: 1.25rem;

  /* flexbox properties */
  display: flex;
  justify-content: center; /* main axis */
  align-items: center; /* cross axis */
}

.flex-item {
  background-color: burlywood;
  border: 1px solid brown;
  padding: 1.25rem;
  color: brown;
}

.misbehave {
  align-self: flex-start; /* flex-item property */
  justify-self: flex-start; /* no worky */
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.two-column-layout {
  background-color: beige;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-template-columns: 1.25rem;
  margin-bottom: 4rem;
}

.two-column-layout > main {
  background-color: cornflowerblue;
  flex: 3;
  min-height: 500px;
}

.two-column-layout aside {
  background-color: darkkhaki;
  flex: 2;
  min-height: 200px;
}
