@model RegistrationFormViewModel

@{
    ViewData["Title"] = "Register";
}

<h1 class="display-4">Register</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<div class="card shadow">
    <div class="card-body">
        <form asp-action="ProcessRegister" asp-controller="Account" method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Username:</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email:</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password:</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password:</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="form-text text-danger"></span>
            </div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>